
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<main>
    <h1 class="text-center mt-5">Chào Mừng Đến Với Trang Chủ Của Admin!</h1>
    <h2 class="text-center mt-4">3MSGlobal - Du Lịch Việt Nam</h2>
</main>

